# ***FOR DOING THE TASK MAKE THE COPY OF THIS COLLAB FILE IN YOUR DRIVE***

### 1. Python Basics & Control Structures

*Task*:

* Write a Python program that:

  * Takes a list of strings (e.g., ["apple", "banana", "grape", "kiwi", "orange"]).
  * Filters out fruits with more than 5 characters using a for loop and if statement.
  * For each fruit, print its length.

*Example Input*:

python
fruits = ["apple", "banana", "grape", "kiwi", "orange"]

In [2]:
fruits=["apple","banana","grape","kiwi","orange"]

for f in fruits:
  if len(f)>5:
    fruits.remove(f)
  else:
    print("The fruit",f,"has",len(f),"characters.")

The fruit apple has 5 characters.
The fruit kiwi has 4 characters.


*Expected Output*:


The fruit apple has 5 characters.

The fruit banana has 6 characters.

The fruit orange has 6 characters.

### 2. Functions & Lambda

*Task*:

* Write a function that takes a list of integers and a threshold value. Use a **lambda* function inside filter() to return a list of numbers greater than the threshold.


  # Test the function with a list [1, 5, 10, 3, 8] and threshold 5

In [11]:
num=[1,5,10,3,8]
threshold=5

def numbers(num,threshold):
  return list(filter(lambda x:x>threshold,num))

filt_num=numbers(num,threshold)
print(filt_num)

[10, 8]

### 3. Object-Oriented Programming (OOP)

*Task*:

* Implement a BankAccount class with methods for depositing, withdrawing, transferring, and checking balance.
* Implement *Polymorphism* by overriding the __str__ method to provide a custom string representation of the account.


# Example
account_a = BankAccount("A123", "Alice", 1000)

account_b = BankAccount("B456", "Bob", 500)

account_a.deposit(200)

account_a.transfer(300, account_b)

In [26]:
class BankAccount:
    def __init__(self, acc_no, name_holder, balance=0):
        self.acc_no = acc_no
        self.name_holder = name_holder
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount
        print(amount,"deposited in account.")

    def withdraw(self, amount):
        if amount > self.balance:
            print("Amount not sufficient.")
        else:
            self.balance -= amount
            print(amount,"withdrawn from account.")

    def transfer(self, amount, other):
        if amount > self.balance:
            print("Balance not sufficient.")
        else:
            self.balance -= amount
            other.balance += amount
            print(amount,"transferred from",self.name_holder,"to",other.name_holder)

    def check_balance(self):
        return self.balance


    def __str__(self):
        return f"Account[{self.acc_no}] - Holder: {self.name_holder}, Balance: {self.balance}"


account_a = BankAccount("A123", "Alice", 1000)
account_b = BankAccount("B456", "Bob", 500)

account_a.deposit(200)
account_a.transfer(300, account_b)
account_a.withdraw(150)

print(account_a)
print(account_b)

200 deposited in account.
300 transferred from Alice to Bob
150 withdrawn from account.
Account[A123] - Holder: Alice, Balance: 750
Account[B456] - Holder: Bob, Balance: 800

### 4. Exception Handling

*Task*:

* Write a divide_numbers(a, b) function with exception handling:

  * Handle division by zero and invalid input (non-numeric values).


# Test the function
print(divide_numbers(10, 2))   # Valid input

print(divide_numbers(10, 0))   # Division by zero

print(divide_numbers("ten", 2))  # Invalid input

In [18]:
def divide_num(a,b):
  try:
    div=int(a)/int(b)
    return div
  except ZeroDivisionError:
    return "Cannot divide by zero."
  except ValueError:
    return "Input should be numbers only."

print(divide_num(10,2))
print(divide_num(10,0))
print(divide_num("ten",2))

5.0
Cannot divide by zero.
Input should be numbers only.

*Example Expected Output*:


5.0

Cannot divide by zero

Invalid input, please enter numbers

### 5. Python Modules & File Handling

*Task*:

* Write a Python program to:

  * Create a text file "students.txt" with student names and marks.
  * Read the file and print names of students with marks above 80.

In [21]:
student_details=["Alice 88\n","Bob 85\n","Claire 78\n","David 90\n"]

file=open("students.txt","w")
file.writelines(student_details)

with open("students.txt", "r") as file:
  for student in file:
     name, marks = student.strip().split(" ")
     marks = int(marks)
     if marks > 80:
        print(name)

Alice
Bob
David


*Expected Output*:


Alice

Bob

David

### 6. Regular Expressions

*Task*:

* Write a Python function extract_phone_numbers(text) that extracts all phone numbers from a given text. The phone numbers should be in the format (xxx) xxx-xxxx.


sample_text = (
    "For any support regarding our Bangalore office, call us at +91-9876543210 between 9 AM to 6 PM. "
    "If you are located in Mumbai, you can also reach our helpdesk at 9123456789 for urgent assistance. "
    "Additionally, our Delhi branch can be contacted at +91-9988776655 during weekdays."
)




*Expected Output*:


['+91-9876543210', '+91-9988776655']

In [24]:
import re
def extract_phone_numbers(text):
  ph_no= r'\+91-\d{10}'
  phone=re.findall(ph_no,text)
  return phone

sample_text = ( "For any support regarding our Bangalore office, call us at +91-9876543210 between 9 AM to 6 PM. " "If you are located in Mumbai, you can also reach our helpdesk at 9123456789 for urgent assistance. " "Additionally, our Delhi branch can be contacted at +91-9988776655 during weekdays." )

extracted=extract_phone_numbers(sample_text)
print(extracted)

['+91-9876543210', '+91-9988776655']


*Expected Output*:


['+91-9876543210', '+91-9988776655']